/*
font-family: 'Roboto', sans-serif;

Colors:
Primary: #3c4a54;
*/

/*********************************************\
| General                                     |
\*********************************************/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/*********************************************\
| Grid                                        |
\*********************************************/
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
}

/*********************************************\
| Buttons                                     |
\*********************************************/
.button {
    background: #3c4a54;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}